# Database Configuration
POSTGRES_DB=wealthos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=choose_a_password
POSTGRES_PORT=5432

# Server Configuration
JDBC_DATABASE_URL=jdbc:postgresql://db:5432/wealthos
JDBC_DATABASE_USER=postgres
JDBC_DATABASE_PASSWORD=choose_a_password
ALLOWED_HOST=http://localhost:8081

# Notion Configuration
NOTION_API_KEY=your_notion_api_key
NOTION_DATABASE_ID=9a1f95e6fdeb42db9cf4690bc97aab8d
