# Database Configuration
POSTGRES_DB=wealthos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Server Configuration
JDBC_DATABASE_URL=jdbc:postgresql://db:5432/wealthos
JDBC_DATABASE_USER=postgres
JDBC_DATABASE_PASSWORD=password
